.main-button {
    @include font($fw: 700, $fs: 16px, $lh:1.88, $ls:0.06em);
    
    color: #FFFFFF;
    background: $link-color;
    border-radius: 4px;
    padding: 10px 32px;

    height: 50px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 700px;

    border: transparent;
    margin: 0 auto;
    display: block;
    transition: color 2500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}