.portfolio-btn-list {
    display: flex;
    padding-left: 22px;
    padding-right: 22px;
    justify-content: center;
}

.portfolio-btn {
    margin-bottom: 50px;
}

.portfolio-btn-list .portfolio-btn-items+.portfolio-btn-items {
    margin-left: 8px;
}

.main-portfolio-btn {
    @include font($fw: 500, $fs: 16px, $lh: 1.62);
    font-family: 'Roboto';
    text-align: center;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    transition: background-color 250ms, box-shadow 250ms, color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $link-color;
        color: white;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}